flows_openplotter.json
[
    {
        "id": "65a64bb71643ab7c",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "51a47cad2bf9110a",
        "type": "tab",
        "label": "Motor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1156325a.13be5e",
        "type": "tab",
        "label": "Musigg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "295744be76460eb7",
        "type": "tab",
        "label": "OpenHAB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "de1f4de9.aa4a1",
        "type": "tab",
        "label": "BMS & Strom",
        "disabled": false,
        "info": ""
    },
    {
        "id": "709c0aa7433349ed",
        "type": "tab",
        "label": "GPIOs",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8e9a1337c6aa6a99",
        "type": "subflow",
        "name": "low-active",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 60,
                "wires": [
                    {
                        "id": "b70a339da68f9911"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 60,
                "wires": [
                    {
                        "id": "8fb89bc53aab97ec",
                        "port": 0
                    },
                    {
                        "id": "02c5c83e2d6d4c82",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7e21b3f724e8478f",
        "type": "subflow",
        "name": "high-active",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 60,
                "wires": [
                    {
                        "id": "9e6ce0811911fbbf"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 60,
                "wires": [
                    {
                        "id": "c524fb80895f6b29",
                        "port": 0
                    },
                    {
                        "id": "2dd498090234e0b5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "64e147af.9fea98",
        "type": "subflow",
        "name": "min(0,value)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "cd6ffc43.6aa79"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 80,
                "wires": [
                    {
                        "id": "fea41212.5dafc",
                        "port": 0
                    },
                    {
                        "id": "cd6ffc43.6aa79",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "smaller",
                "type": "num",
                "value": "1",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5260990c.64ecc8",
        "type": "subflow",
        "name": "openhab-measurement-out",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "8263799.5caf088"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 260,
                "wires": [
                    {
                        "id": "8263799.5caf088",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "item",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#C7E9C0",
        "icon": "node-red-contrib-openhab3/node-red-contrib-openhab2.png",
        "status": {
            "x": 1160,
            "y": 160,
            "wires": [
                {
                    "id": "9761a9f4.dddb98",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "71581e52.143b9",
        "type": "openhab2-controller2",
        "name": "Boot",
        "protocol": "http",
        "host": "localhost",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v2",
        "token": ""
    },
    {
        "id": "99bc1002.fccbd",
        "type": "serial-port",
        "serialport": "/dev/ttyOP_mppt",
        "serialbaud": "19200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "1000"
    },
    {
        "id": "c6480d9b.b8a72",
        "type": "serial-port",
        "serialport": "/dev/ttyOP_bms",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "even",
        "stopbits": "1",
        "waitfor": "0xdd",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "0x77",
        "bin": "bin",
        "out": "char",
        "addchar": "",
        "responsetimeout": "100"
    },
    {
        "id": "cd18c8d2.68b578",
        "type": "mqtt-broker",
        "name": "Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ad15f369.54c5a",
        "type": "config-log",
        "logname": "default",
        "logdir": "flogger",
        "stamp": "local",
        "logstyle": "plain",
        "logrotate": false,
        "logcompress": false,
        "logrotatecount": "5",
        "logsize": "1000"
    },
    {
        "id": "86758092bb03967a",
        "type": "inject",
        "z": "65a64bb71643ab7c",
        "name": "GPIO An",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ac618cac8d307e71",
        "type": "rpi-ds18b20",
        "z": "51a47cad2bf9110a",
        "topic": "3c01d075c662",
        "array": false,
        "name": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "cb054da.e1f0eb"
            ]
        ],
        "info": "aussen: 0217b208e0ff\nmotor: 3c01b556d700"
    },
    {
        "id": "9985b52f7eea4a41",
        "type": "range",
        "z": "51a47cad2bf9110a",
        "minin": "0",
        "maxin": "35",
        "minout": "50",
        "maxout": "0",
        "action": "clamp",
        "round": true,
        "property": "engine.preheat",
        "name": "Vorglühzeit berechnen",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "cf00cc790af26c9f",
                "b45e878a50e8b8af",
                "2115dbc757601766",
                "2cb98ae8.42ed96"
            ]
        ]
    },
    {
        "id": "7360829dc90c171e",
        "type": "delay",
        "z": "51a47cad2bf9110a",
        "name": "Vorglühen Verzögern",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 720,
        "y": 600,
        "wires": [
            [
                "7e3cef5a1d467138"
            ]
        ]
    },
    {
        "id": "cf00cc790af26c9f",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "In Millisekunden",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "engine.preheat * 1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "7360829dc90c171e",
                "e990aa10.5ab648"
            ]
        ]
    },
    {
        "id": "b45e878a50e8b8af",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Glühkerzen Ein",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "a14114da.7c1698",
                "36a5a362.f8788c"
            ]
        ]
    },
    {
        "id": "7e3cef5a1d467138",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Glühkerzen Aus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 660,
        "wires": [
            [
                "6e19a127dd68130e",
                "5297cde1.ff09b4",
                "1cb7f0ac.b01f5f"
            ]
        ]
    },
    {
        "id": "0dd0643a6665d6b5",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Anlasser Ein",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 780,
        "wires": [
            [
                "170889a247930d29",
                "e27d2486.35d1a8",
                "42ed3f84.7adad",
                "1f3005f6.c79fda",
                "760b7ec7.fa1ad"
            ]
        ]
    },
    {
        "id": "59e6fc0e165e74a5",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "Motor läuft?",
        "property": "engine.rpm",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 940,
        "wires": [
            [
                "4a797ce0f9a39fdf",
                "2a378e1c.5ac912",
                "8eb27636.e845a8",
                "29313b9a.a59b84"
            ],
            [
                "76fc7272.38157c",
                "e27d2486.35d1a8",
                "9cda3b12.86f2d8"
            ]
        ]
    },
    {
        "id": "4a797ce0f9a39fdf",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Anlasser Aus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "ac0104d1c16c8dce",
                "a98f78e4.d681a8"
            ]
        ]
    },
    {
        "id": "2115dbc757601766",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "Vorglühzeitt",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "b1bc38806bc98f49",
        "type": "delay",
        "z": "51a47cad2bf9110a",
        "name": "Safeguard 10sek",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "4a797ce0f9a39fdf",
                "c99a5815.9e2da8",
                "d8d9ff0a.bd7cc",
                "2995af2c.b1aec"
            ]
        ]
    },
    {
        "id": "df686d3464f24ce3",
        "type": "inject",
        "z": "65a64bb71643ab7c",
        "name": "GPIO Aus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6367376fc0cece4a",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Erreger Aus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 1520,
        "wires": [
            [
                "b3b33ae8.864818"
            ]
        ]
    },
    {
        "id": "79e0edac5936fcef",
        "type": "ads1x15-raspi",
        "z": "51a47cad2bf9110a",
        "property": "payload",
        "name": "48 - A1/12V - A3/Erreger",
        "chip": "IC_ADS1115",
        "i2c_address": "ADDRESS_0x48",
        "channel": "DIFF_1_3",
        "samplesPerSecond0": "SPS_920",
        "samplesPerSecond1": "SPS_64",
        "progGainAmp": "PGA_2_048V",
        "x": 610,
        "y": 1400,
        "wires": [
            [
                "d2e594827a5f4243"
            ]
        ]
    },
    {
        "id": "dfd9231b0271c7ad",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "Generator läuft?",
        "property": "payload.voltage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1100,
        "y": 1400,
        "wires": [
            [
                "6367376fc0cece4a",
                "dfb8a9de.4d6948"
            ],
            [
                "e2b7d44e.9807e8",
                "dbc9e464.0d1e98"
            ]
        ]
    },
    {
        "id": "5a03467b0b0517f1",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Bordelektrik",
        "links": [
            "d03dcac2e7db82ce",
            "dc765522497418eb",
            "5c2fb96c.d7f4a8"
        ],
        "x": 1135,
        "y": 1120,
        "wires": [
            [
                "37cf0592e513c818"
            ]
        ]
    },
    {
        "id": "f1ece669e1efb0a4",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Glühkerzen / 18",
        "pin": "12",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1460,
        "y": 400,
        "wires": []
    },
    {
        "id": "ea08baef11a796ef",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Anlasser / 23",
        "pin": "16",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1450,
        "y": 520,
        "wires": []
    },
    {
        "id": "28274ccfa75f95e4",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Lima Erreger / 13",
        "pin": "33",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 690,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ddd3ed7fe55c39ad",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Glühkerzen",
        "links": [
            "6e19a127dd68130e",
            "a14114da.7c1698"
        ],
        "x": 1135,
        "y": 400,
        "wires": [
            [
                "4a6f2667d28a5c44"
            ]
        ]
    },
    {
        "id": "7bdccc578541574e",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Anlasser",
        "links": [
            "170889a247930d29",
            "ac0104d1c16c8dce"
        ],
        "x": 1135,
        "y": 520,
        "wires": [
            [
                "185a352e061493eb"
            ]
        ]
    },
    {
        "id": "e6e84edb1eb0f68d",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Lima Erreger",
        "links": [
            "735e63b2705022c1",
            "b3b33ae8.864818",
            "54633bc8.68d584"
        ],
        "x": 355,
        "y": 1060,
        "wires": [
            [
                "28caae9c7a77ed69"
            ]
        ]
    },
    {
        "id": "6e19a127dd68130e",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "",
        "links": [
            "ddd3ed7fe55c39ad"
        ],
        "x": 715,
        "y": 660,
        "wires": []
    },
    {
        "id": "ac0104d1c16c8dce",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "",
        "links": [
            "7bdccc578541574e"
        ],
        "x": 1235,
        "y": 1020,
        "wires": []
    },
    {
        "id": "170889a247930d29",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "",
        "links": [
            "7bdccc578541574e"
        ],
        "x": 735,
        "y": 780,
        "wires": []
    },
    {
        "id": "d09fab0a01caa4ab",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Strahler / 19",
        "pin": "35",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 670,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6d64afb182843e31",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Strahler",
        "links": [
            "98b0acba.5603d"
        ],
        "x": 355,
        "y": 1120,
        "wires": [
            [
                "82a3955eb0c4a4a7"
            ]
        ]
    },
    {
        "id": "205e886f0e8b123d",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "Analog inputs Planung",
        "info": "0x48:\n0: Öldruck\n1: 12V Messleitung\n2: Tanksensor\n3: Lima Erregerspannung (macht nur Sinn im diff zur 12V Leitung)\n\n0x49:\n0: 3v3\n1: HES Verbraucher\n2: (ehemals messung von PV strom)\n3: Shunt Inverter\n\n0x4A:\n0:\n1:\n2:\n3:",
        "x": 1020,
        "y": 200,
        "wires": []
    },
    {
        "id": "d2e594827a5f4243",
        "type": "range",
        "z": "51a47cad2bf9110a",
        "minin": "0",
        "maxin": "1.36",
        "minout": "0",
        "maxout": "15",
        "action": "scale",
        "round": false,
        "property": "payload.voltage",
        "name": "12V Spannungsteiler",
        "x": 880,
        "y": 1400,
        "wires": [
            [
                "dfd9231b0271c7ad",
                "8c27c6fb.7e2428"
            ]
        ]
    },
    {
        "id": "348d7a8d61262e29",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "Läuft motor schon?",
        "property": "engine.rpm",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "300",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "6e913aef.007234"
            ],
            [
                "ac618cac8d307e71",
                "233fd743.dab9c8"
            ]
        ]
    },
    {
        "id": "c6e0ec7c72962e34",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWbord",
        "topic": "",
        "initialstate": true,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "668ac5ff.27773c"
            ]
        ]
    },
    {
        "id": "01d157ca687e70d4",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Inverter / 7",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1450,
        "y": 820,
        "wires": []
    },
    {
        "id": "e598cded0a08e39e",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Bordelektrik neu / 16",
        "pin": "36",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1480,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b70a339da68f9911",
        "type": "switch",
        "z": "8e9a1337c6aa6a99",
        "name": "ON oder OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "8fb89bc53aab97ec"
            ],
            [
                "02c5c83e2d6d4c82"
            ]
        ]
    },
    {
        "id": "8fb89bc53aab97ec",
        "type": "change",
        "z": "8e9a1337c6aa6a99",
        "name": "Payload auf 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "02c5c83e2d6d4c82",
        "type": "change",
        "z": "8e9a1337c6aa6a99",
        "name": "Payload auf 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9e6ce0811911fbbf",
        "type": "switch",
        "z": "7e21b3f724e8478f",
        "name": "ON oder OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "c524fb80895f6b29"
            ],
            [
                "2dd498090234e0b5"
            ]
        ]
    },
    {
        "id": "2dd498090234e0b5",
        "type": "change",
        "z": "7e21b3f724e8478f",
        "name": "Payload auf 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c524fb80895f6b29",
        "type": "change",
        "z": "7e21b3f724e8478f",
        "name": "Payload auf 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "82479bd19df5d18d",
        "type": "subflow:8e9a1337c6aa6a99",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 490,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4a6f2667d28a5c44",
        "type": "subflow:8e9a1337c6aa6a99",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 1270,
        "y": 400,
        "wires": [
            [
                "f1ece669e1efb0a4"
            ]
        ]
    },
    {
        "id": "185a352e061493eb",
        "type": "subflow:8e9a1337c6aa6a99",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "ea08baef11a796ef"
            ]
        ]
    },
    {
        "id": "28caae9c7a77ed69",
        "type": "subflow:8e9a1337c6aa6a99",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 490,
        "y": 1060,
        "wires": [
            [
                "28274ccfa75f95e4"
            ]
        ]
    },
    {
        "id": "82a3955eb0c4a4a7",
        "type": "subflow:8e9a1337c6aa6a99",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 490,
        "y": 1120,
        "wires": [
            [
                "d09fab0a01caa4ab"
            ]
        ]
    },
    {
        "id": "3e08bd41c2a5c634",
        "type": "subflow:7e21b3f724e8478f",
        "z": "709c0aa7433349ed",
        "name": "",
        "env": [],
        "x": 1270,
        "y": 820,
        "wires": [
            [
                "01d157ca687e70d4"
            ]
        ]
    },
    {
        "id": "2c406e066804b74a",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Inverter",
        "links": [
            "acbb71335f980174"
        ],
        "x": 1135,
        "y": 820,
        "wires": [
            [
                "3e08bd41c2a5c634"
            ]
        ]
    },
    {
        "id": "659a180305a8dfbd",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWinverter",
        "topic": "",
        "initialstate": true,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "acbb71335f980174",
                "d6382985.b47878"
            ]
        ]
    },
    {
        "id": "c328e4f320d86f3b",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "d": true,
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWbox",
        "topic": "",
        "initialstate": true,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "a95cf54ffe7c3794"
            ]
        ]
    },
    {
        "id": "acbb71335f980174",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "",
        "links": [
            "2c406e066804b74a"
        ],
        "x": 375,
        "y": 240,
        "wires": []
    },
    {
        "id": "a95cf54ffe7c3794",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "",
        "links": [
            "3e631f112a83351c"
        ],
        "x": 375,
        "y": 320,
        "wires": []
    },
    {
        "id": "37cf0592e513c818",
        "type": "subflow:7e21b3f724e8478f",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 1270,
        "y": 1120,
        "wires": [
            [
                "e598cded0a08e39e"
            ]
        ]
    },
    {
        "id": "ae90ea799a065788",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Autopilot / 27",
        "pin": "13",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "fe42f70455184481",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Autopilot",
        "links": [
            "d66a591e74b294aa",
            "d595a8a4.e57138",
            "ae0ec238.9ed7c"
        ],
        "x": 355,
        "y": 460,
        "wires": [
            [
                "e70e38242d07bc2a"
            ]
        ]
    },
    {
        "id": "e70e38242d07bc2a",
        "type": "subflow:8e9a1337c6aa6a99",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "ae90ea799a065788"
            ]
        ]
    },
    {
        "id": "60698e80.cbb6b",
        "type": "http request",
        "z": "295744be76460eb7",
        "name": "OpenHAB LED Controller Thing",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/rest/things/wifiled:wifiled:cf0e61a6/enable",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 990,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "668ac5ff.27773c",
        "type": "switch",
        "z": "295744be76460eb7",
        "name": "ON or OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "167a0422.1c1e5c",
                "c4cbdbb8.fa6de8",
                "5c2fb96c.d7f4a8"
            ],
            [
                "3193dc83.94b664",
                "db57f0e2.03a3",
                "a0934ec1.3da17"
            ]
        ]
    },
    {
        "id": "167a0422.1c1e5c",
        "type": "change",
        "z": "295744be76460eb7",
        "name": "Thing aktivieren",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "Content-Type: application/json;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "60698e80.cbb6b"
            ]
        ]
    },
    {
        "id": "3193dc83.94b664",
        "type": "change",
        "z": "295744be76460eb7",
        "name": "Thing deaktivieren",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "Content-Type: application/json;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "60698e80.cbb6b"
            ]
        ]
    },
    {
        "id": "13321165.969c4f",
        "type": "openhab2-out2",
        "z": "51a47cad2bf9110a",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "Smotor",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 2020,
        "y": 280,
        "wires": []
    },
    {
        "id": "91af318.65d2dd",
        "type": "countdown",
        "z": "51a47cad2bf9110a",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": 30,
        "resetWhileRunning": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "minuteCounter": false,
        "x": 1510,
        "y": 480,
        "wires": [
            [],
            [
                "5e3e2a69.83c914"
            ]
        ]
    },
    {
        "id": "5e3e2a69.83c914",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Countdown Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Vorglühen: \" & payload & \" sek\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 540,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "6e913aef.007234",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Läuft schon Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FEHLER: Motor läuft schon",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 340,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "2cb98ae8.42ed96",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Starte Timer",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "engine.preheat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 440,
        "wires": [
            [
                "91af318.65d2dd"
            ]
        ]
    },
    {
        "id": "e27d2486.35d1a8",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Start Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Starte... \" & starter_sek",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 640,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "c281abeb.b53a68",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Erfolg Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Motor läuft",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 940,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "c99a5815.9e2da8",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Fail Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "!Anlasser Fehler!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 1040,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "dbc9e464.0d1e98",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Starte Lima Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Warte auf LiMa \" & lima_sek",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1400,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "dfb8a9de.4d6948",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Success Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Maschine läuft",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 1320,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "879335eb.9953e8",
        "type": "ads1x15-raspi",
        "z": "51a47cad2bf9110a",
        "property": "pbattery",
        "name": "12V Starter",
        "chip": "IC_ADS1115",
        "i2c_address": "ADDRESS_0x48",
        "channel": "CHANNEL_1",
        "samplesPerSecond0": "SPS_920",
        "samplesPerSecond1": "SPS_860",
        "progGainAmp": "PGA_2_048V",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "200ebdb9.7c55e2"
            ]
        ]
    },
    {
        "id": "43028f6c.477d2",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "Ist Knochen aus?",
        "property": "pbattery.voltage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "ccd6ed58.5feb8"
            ],
            [
                "348d7a8d61262e29"
            ]
        ]
    },
    {
        "id": "ccd6ed58.5feb8",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Knochen Aus Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FEHLER: Hauptschalter ist Aus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 240,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "24e90aaf.a9b936",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWautopilot",
        "topic": "",
        "initialstate": true,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "ae0ec238.9ed7c"
            ]
        ]
    },
    {
        "id": "ae0ec238.9ed7c",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "",
        "links": [
            "fe42f70455184481"
        ],
        "x": 375,
        "y": 380,
        "wires": []
    },
    {
        "id": "659a180325a8dfbd",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWtop",
        "topic": "",
        "initialstate": true,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "cd318374.689a4"
            ]
        ]
    },
    {
        "id": "985fcad4.db9bc8",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWpos",
        "topic": "",
        "initialstate": true,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "612d8269.26950c"
            ]
        ]
    },
    {
        "id": "cd318374.689a4",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "",
        "links": [
            "9aad3033.cd10c"
        ],
        "x": 275,
        "y": 440,
        "wires": []
    },
    {
        "id": "612d8269.26950c",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "",
        "links": [
            "c269c6b.8940638"
        ],
        "x": 275,
        "y": 500,
        "wires": []
    },
    {
        "id": "231a15d.59bafea",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Ankerlicht / 5",
        "pin": "29",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 670,
        "y": 940,
        "wires": []
    },
    {
        "id": "edccdf1d.b3ce6",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Positionsleuchten / 22",
        "pin": "15",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "cc0eed5e.5b428",
        "type": "subflow:8e9a1337c6aa6a99",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 490,
        "y": 940,
        "wires": [
            [
                "231a15d.59bafea"
            ]
        ]
    },
    {
        "id": "f2bd914c.7453",
        "type": "subflow:8e9a1337c6aa6a99",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 490,
        "y": 520,
        "wires": [
            [
                "edccdf1d.b3ce6"
            ]
        ]
    },
    {
        "id": "9aad3033.cd10c",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Ankerlicht",
        "links": [
            "cd318374.689a4"
        ],
        "x": 355,
        "y": 940,
        "wires": [
            [
                "cc0eed5e.5b428"
            ]
        ]
    },
    {
        "id": "c269c6b.8940638",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Positionsleuchten",
        "links": [
            "612d8269.26950c"
        ],
        "x": 355,
        "y": 520,
        "wires": [
            [
                "f2bd914c.7453"
            ]
        ]
    },
    {
        "id": "ab914257.0594c",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "Basic Info Test Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[221,3,0,27,5,76,0,0,36,242,42,248,0,0,40,210,0,0,0,0,0,0,23,86,3,4,2,9,127,11,169,250,176,119]",
        "payloadType": "bin",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e153a141.b3825",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "Cell Voltages Test Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[221,4,0,8,13,66,13,60,13,64,13,58,254,204,119]",
        "payloadType": "bin",
        "x": 580,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d4e6ac08.06224",
        "type": "buffer-parser",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "register",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "status",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "length",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "total_voltage",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "/100",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "current",
                "offset": 6,
                "length": 1,
                "offsetbit": 0,
                "scale": "/100",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "residual_capacity",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "/100",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "nominal_capacity",
                "offset": 10,
                "length": 1,
                "offsetbit": 0,
                "scale": "/100",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "cycle_times",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "balance_states",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "active_protection_states",
                "offset": 20,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "rsoc",
                "offset": 23,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "charge_status",
                "offset": 24,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "discharge_status",
                "offset": 24,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "temperatures",
                "offset": 27,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "checksum",
                "offset": 31,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "d5be2f13.74352",
                "b1db92c.972d37",
                "d38bc19d.4d12f",
                "d9eae04.fc0df2",
                "88fdd6dc.5dee98"
            ]
        ]
    },
    {
        "id": "d5be2f13.74352",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Setze Spannung global + payload",
        "rules": [
            {
                "t": "set",
                "p": "battery.voltage",
                "pt": "global",
                "to": "payload.total_voltage",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.total_voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 180,
        "wires": [
            [
                "d2526db9.53a2c"
            ]
        ]
    },
    {
        "id": "b1db92c.972d37",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload.total_voltage * payload.current, 0)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 240,
        "wires": [
            [
                "2433e9d1.810596"
            ]
        ]
    },
    {
        "id": "d38bc19d.4d12f",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "RSOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rsoc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 300,
        "wires": [
            [
                "e35db02a.95414"
            ]
        ]
    },
    {
        "id": "eae039c.4f2cdc8",
        "type": "buffer-parser",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "register",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "status",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "length",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "voltages",
                "offset": 4,
                "length": 4,
                "offsetbit": 0,
                "scale": "/1000",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "checksum",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "ff3cd752.294f88",
                "4b971608.2fb348",
                "6a2cf129.c0ae6",
                "af325b1d.642788"
            ]
        ]
    },
    {
        "id": "d9eae04.fc0df2",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Charge Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.charge_status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "88fdd6dc.5dee98",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Discharge Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.discharge_status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f7887d11.4cb51",
        "type": "serial request",
        "z": "de1f4de9.aa4a1",
        "name": "BMS",
        "serial": "c6480d9b.b8a72",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "96ffbb87.ca6f48"
            ]
        ]
    },
    {
        "id": "841029d8.75d568",
        "type": "switch",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "basic_info",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cell_voltages",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 500,
        "wires": [
            [
                "d4e6ac08.06224"
            ],
            [
                "eae039c.4f2cdc8"
            ]
        ]
    },
    {
        "id": "add750a2.84639",
        "type": "ads1x15-raspi",
        "z": "de1f4de9.aa4a1",
        "property": "payload",
        "name": "49-A1-HES-Verbraucher",
        "chip": "IC_ADS1115",
        "i2c_address": "ADDRESS_0x49",
        "channel": "CHANNEL_1",
        "samplesPerSecond0": "SPS_920",
        "samplesPerSecond1": "SPS_128",
        "progGainAmp": "PGA_4_096V",
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "abaef030.7b95c",
                "c6eb385.d0a18c8"
            ]
        ]
    },
    {
        "id": "c61622ed.f3eff",
        "type": "ads1x15-raspi",
        "z": "de1f4de9.aa4a1",
        "property": "payload",
        "name": "49-A3-Inverter",
        "chip": "IC_ADS1115",
        "i2c_address": "ADDRESS_0x49",
        "channel": "CHANNEL_3",
        "samplesPerSecond0": "SPS_920",
        "samplesPerSecond1": "SPS_250",
        "progGainAmp": "PGA_2_048V",
        "x": 420,
        "y": 1160,
        "wires": [
            [
                "162af34f.bf017d"
            ]
        ]
    },
    {
        "id": "f9d2ac6d.b74cf",
        "type": "range",
        "z": "de1f4de9.aa4a1",
        "minin": "0",
        "maxin": "3",
        "minout": "0",
        "maxout": "200",
        "action": "clamp",
        "round": false,
        "property": "payload.amperage",
        "name": "Shunt 100A / 75mV * 20",
        "x": 970,
        "y": 1160,
        "wires": [
            [
                "332d7aa1.0a3cd6"
            ]
        ]
    },
    {
        "id": "9a32e407.b7c448",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "f8e69dd7.d7025"
            ]
        ]
    },
    {
        "id": "b03a383e.8fd608",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Pverb berechen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round($globalContext(\"battery.voltage\") * payload.amperage, 0)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 1040,
        "wires": [
            [
                "d39db66b.cb1d18"
            ]
        ]
    },
    {
        "id": "66fc7b2a.37ce54",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Watt berechnen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round($globalContext(\"battery.voltage\") * payload.amperage, 0)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 1160,
        "wires": [
            [
                "d9d7c609.d0c2f8"
            ]
        ]
    },
    {
        "id": "792d4a0e.994da4",
        "type": "openhab2-in2",
        "z": "51a47cad2bf9110a",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "Smotor",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "4d8728f2.163718",
                "f45fbd09.bbc84"
            ]
        ]
    },
    {
        "id": "4d8728f2.163718",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "wenn START empfangen",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "START",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "18a42172.cf6c1f",
                "de9f7057.fa54e"
            ]
        ]
    },
    {
        "id": "18a42172.cf6c1f",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Nochmal Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bestätigen: Motor starten",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 60,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "de9f7057.fa54e",
        "type": "join",
        "z": "51a47cad2bf9110a",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "41bd6d0f.cb0094"
            ]
        ]
    },
    {
        "id": "41bd6d0f.cb0094",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "STARTSTART",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 200,
        "wires": [
            [
                "85662c35.0397a",
                "879335eb.9953e8"
            ],
            [
                "a2b7dacd.373b98"
            ]
        ]
    },
    {
        "id": "85662c35.0397a",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Confirmation Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bestätigt! Starte...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 180,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "a2b7dacd.373b98",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Timeout Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Motor aus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 120,
        "wires": [
            [
                "13321165.969c4f"
            ]
        ]
    },
    {
        "id": "48fa716c.344a1",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "Wenn Motor Aus",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "300",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 1760,
        "wires": [
            [
                "70a930dc.32d7c"
            ],
            [
                "73ca5fb5.57d6a"
            ]
        ]
    },
    {
        "id": "b2fb3f36.ffd6f",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Stop Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Maschine aus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 1640,
        "wires": [
            [
                "13321165.969c4f",
                "8fd40b40.42bd18"
            ]
        ]
    },
    {
        "id": "c4cbdbb8.fa6de8",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "Bordnetz eingeschaltet",
        "links": [],
        "x": 650,
        "y": 40,
        "wires": [],
        "l": true
    },
    {
        "id": "db57f0e2.03a3",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "Bordnetz ausgeschaltet",
        "links": [],
        "x": 650,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "3260663f.a86bfa",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "Motor aus",
        "links": [
            "e006a42d.3459a8",
            "195a117a.75ab3f",
            "634ffcf8.828054",
            "111ab686.7347f9",
            "29236696.2310ea",
            "9ecac1db.afd2d"
        ],
        "x": 1830,
        "y": 1700,
        "wires": [],
        "l": true
    },
    {
        "id": "8c4f852e.2f7318",
        "type": "comment",
        "z": "de1f4de9.aa4a1",
        "name": "Reads vom selben ADC besser hintereinander als parallel",
        "info": "",
        "x": 550,
        "y": 900,
        "wires": []
    },
    {
        "id": "8986e6ec.057078",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "Basic Info single",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "basic_info",
        "payload": "[221,165,3,0,255,253,119]",
        "payloadType": "bin",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "f7887d11.4cb51"
            ]
        ]
    },
    {
        "id": "2507d399.9ed8bc",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "Cell Voltages single",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cell_voltages",
        "payload": "[221,165,4,0,255,252,119]",
        "payloadType": "bin",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "f7887d11.4cb51"
            ]
        ]
    },
    {
        "id": "5c2fb96c.d7f4a8",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "",
        "links": [
            "5a03467b0b0517f1"
        ],
        "x": 795,
        "y": 200,
        "wires": []
    },
    {
        "id": "3292cd74.74a4a2",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "Basic Info Trigger 5 sek",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "basic_info",
        "payload": "[221,165,3,0,255,253,119]",
        "payloadType": "bin",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "f7887d11.4cb51"
            ]
        ]
    },
    {
        "id": "5b617af1.ffe9b4",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "Cell Voltages Trigger 10min",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "cell_voltages",
        "payload": "[221,165,4,0,255,252,119]",
        "payloadType": "bin",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "f7887d11.4cb51"
            ]
        ]
    },
    {
        "id": "84e7e23c.c970e",
        "type": "smooth",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "property": "payload.amperage",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 1360,
        "y": 1040,
        "wires": [
            [
                "b03a383e.8fd608"
            ]
        ]
    },
    {
        "id": "ee0fdc87.7fa6f",
        "type": "exec",
        "z": "295744be76460eb7",
        "command": "xscreensaver-command -activate",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Bildschirme ausschalten",
        "x": 490,
        "y": 620,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "70b53fb6.294a4",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWscreens",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "ee0fdc87.7fa6f"
            ]
        ]
    },
    {
        "id": "cd6ffc43.6aa79",
        "type": "switch",
        "z": "64e147af.9fea98",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "smaller",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 100,
        "wires": [
            [],
            [
                "fea41212.5dafc"
            ]
        ]
    },
    {
        "id": "fea41212.5dafc",
        "type": "change",
        "z": "64e147af.9fea98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5cfe3088.8e687",
        "type": "ads1x15-raspi",
        "z": "de1f4de9.aa4a1",
        "property": "payload",
        "name": "48-A1-+12V",
        "chip": "IC_ADS1115",
        "i2c_address": "ADDRESS_0x48",
        "channel": "CHANNEL_1",
        "samplesPerSecond0": "SPS_920",
        "samplesPerSecond1": "SPS_860",
        "progGainAmp": "PGA_2_048V",
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "68a7251c.c2567c"
            ]
        ]
    },
    {
        "id": "68a7251c.c2567c",
        "type": "range",
        "z": "de1f4de9.aa4a1",
        "minin": "0",
        "maxin": "1.36",
        "minout": "0",
        "maxout": "15",
        "action": "scale",
        "round": false,
        "property": "payload.voltage",
        "name": "12V Spannungsteiler",
        "x": 640,
        "y": 1500,
        "wires": [
            [
                "eea5172.45dafe8"
            ]
        ]
    },
    {
        "id": "eea5172.45dafe8",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload.voltage, 1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1500,
        "wires": [
            [
                "9dde2547.ccc818"
            ]
        ]
    },
    {
        "id": "d9443612.b94128",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "Intervall 1 Minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1500,
        "wires": [
            [
                "5cfe3088.8e687"
            ]
        ]
    },
    {
        "id": "8c482621.a01f78",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWscheinwerfer",
        "topic": "",
        "initialstate": true,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "98b0acba.5603d"
            ]
        ]
    },
    {
        "id": "98b0acba.5603d",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "",
        "links": [
            "6d64afb182843e31"
        ],
        "x": 335,
        "y": 560,
        "wires": []
    },
    {
        "id": "d6382985.b47878",
        "type": "change",
        "z": "295744be76460eb7",
        "name": "Setze Inverter global",
        "rules": [
            {
                "t": "set",
                "p": "inverter",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "abaef030.7b95c",
        "type": "switch",
        "z": "de1f4de9.aa4a1",
        "name": "Wenn Inverter an",
        "property": "inverter",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 1180,
        "wires": [
            [
                "c61622ed.f3eff"
            ],
            [
                "48496a0d.5e0ac4"
            ]
        ]
    },
    {
        "id": "48496a0d.5e0ac4",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "0 setzen wenn aus ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1220,
        "wires": [
            [
                "d9d7c609.d0c2f8"
            ]
        ]
    },
    {
        "id": "96ffbb87.ca6f48",
        "type": "function",
        "z": "de1f4de9.aa4a1",
        "name": "Verify BMS checksum",
        "func": "const reducer = (accumulator, currentValue) => accumulator + currentValue;\nlet raw = msg.payload;\nlet received_checksum = raw.slice(-3, -1).readUInt16BE();\nlet message_length = raw[3];\nlet bytes_for_summing = raw.slice(4, -3);\n\nlet calculated_checksum = (bytes_for_summing.reduce(reducer) + message_length - 1) ^ 65535;\n\n\nif (raw[2] === 0 && calculated_checksum === received_checksum) {\n    return [msg, null];\n} else {\n    [null, msg]\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "841029d8.75d568"
            ],
            []
        ]
    },
    {
        "id": "8263799.5caf088",
        "type": "rbe",
        "z": "5260990c.64ecc8",
        "name": "Only when changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "fc063fd3.bcf2e"
            ]
        ]
    },
    {
        "id": "d39db66b.cb1d18",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "Pverb",
        "env": [
            {
                "name": "item",
                "value": "Pverb",
                "type": "str"
            }
        ],
        "x": 1830,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "fc063fd3.bcf2e",
        "type": "change",
        "z": "5260990c.64ecc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "item",
                "pt": "msg",
                "to": "item",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "e5bcef36.b5f98"
            ]
        ]
    },
    {
        "id": "e5bcef36.b5f98",
        "type": "openhab2-out2",
        "z": "5260990c.64ecc8",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "bc719e12.478f3",
        "type": "status",
        "z": "5260990c.64ecc8",
        "name": "",
        "scope": null,
        "x": 760,
        "y": 140,
        "wires": [
            [
                "9761a9f4.dddb98"
            ]
        ]
    },
    {
        "id": "4009e335.4dde4c",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "Ppv",
        "env": [
            {
                "name": "item",
                "value": "Ppv",
                "type": "str"
            }
        ],
        "x": 1250,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "d9d7c609.d0c2f8",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "Pinverter",
        "env": [
            {
                "name": "item",
                "value": "Pinverter",
                "type": "str"
            }
        ],
        "x": 1640,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "d95be1bf.03047",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "U12v",
        "env": [
            {
                "name": "item",
                "value": "U12v",
                "type": "str"
            }
        ],
        "x": 1370,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "d2526db9.53a2c",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "ULiFe",
        "env": [
            {
                "name": "item",
                "value": "ULiFe",
                "type": "str"
            }
        ],
        "x": 1730,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2433e9d1.810596",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "Pbat",
        "env": [
            {
                "name": "item",
                "value": "Pbat",
                "type": "str"
            }
        ],
        "x": 1730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e35db02a.95414",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "RSOCLiFe",
        "env": [
            {
                "name": "item",
                "value": "RSOCLiFe",
                "type": "str"
            }
        ],
        "x": 1750,
        "y": 300,
        "wires": [
            [
                "69d47dff.9ca344"
            ]
        ]
    },
    {
        "id": "fc55ed79.37a14",
        "type": "subflow:5260990c.64ecc8",
        "z": "51a47cad2bf9110a",
        "name": "Gdrehzahl",
        "env": [
            {
                "name": "item",
                "value": "Gdrehzahl",
                "type": "str"
            }
        ],
        "x": 1190,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "bacface8.7da98",
        "type": "inject",
        "z": "709c0aa7433349ed",
        "name": "GPIO Aus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "28caae9c7a77ed69"
            ]
        ]
    },
    {
        "id": "3a078876.fbdbc8",
        "type": "inject",
        "z": "709c0aa7433349ed",
        "name": "GPIO Aus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "185a352e061493eb"
            ]
        ]
    },
    {
        "id": "710965e4.10f8bc",
        "type": "inject",
        "z": "709c0aa7433349ed",
        "name": "GPIO Aus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 1000,
        "y": 400,
        "wires": [
            [
                "4a6f2667d28a5c44"
            ]
        ]
    },
    {
        "id": "50d0df5c.44a79",
        "type": "rpi-mouse",
        "z": "295744be76460eb7",
        "name": "",
        "butt": "7",
        "x": 520,
        "y": 900,
        "wires": [
            [
                "810e4009.3df53"
            ]
        ]
    },
    {
        "id": "810e4009.3df53",
        "type": "switch",
        "z": "295744be76460eb7",
        "name": "Display berührt",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 900,
        "wires": [
            [
                "5e1ee520.22061c"
            ]
        ]
    },
    {
        "id": "5e1ee520.22061c",
        "type": "delay",
        "z": "295744be76460eb7",
        "name": "nur ein Mal pro Minute",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 940,
        "y": 900,
        "wires": [
            [
                "49a3c6e4.bef188"
            ]
        ]
    },
    {
        "id": "8518a80.2bbc058",
        "type": "openhab2-out2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWbord",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": true,
        "x": 1380,
        "y": 900,
        "wires": []
    },
    {
        "id": "49a3c6e4.bef188",
        "type": "change",
        "z": "295744be76460eb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 900,
        "wires": [
            [
                "8518a80.2bbc058"
            ]
        ]
    },
    {
        "id": "3744c59f.d8097a",
        "type": "comment",
        "z": "295744be76460eb7",
        "name": "Bordelektrik einschalten wenn Display berührt",
        "info": "",
        "x": 250,
        "y": 900,
        "wires": []
    },
    {
        "id": "2a378e1c.5ac912",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Reset timers",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "b1bc38806bc98f49"
            ]
        ]
    },
    {
        "id": "b3b33ae8.864818",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "",
        "links": [
            "e6e84edb1eb0f68d"
        ],
        "x": 1535,
        "y": 1520,
        "wires": []
    },
    {
        "id": "a14114da.7c1698",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "",
        "links": [
            "ddd3ed7fe55c39ad"
        ],
        "x": 855,
        "y": 540,
        "wires": []
    },
    {
        "id": "4be37f42.00e94",
        "type": "rbe",
        "z": "de1f4de9.aa4a1",
        "name": "outlier detection",
        "func": "narrowband",
        "gap": "10",
        "start": "",
        "inout": "in",
        "septopics": true,
        "property": "payload.amperage",
        "x": 1160,
        "y": 1040,
        "wires": [
            [
                "84e7e23c.c970e"
            ]
        ]
    },
    {
        "id": "e82419fe.19d508",
        "type": "rpi-gpio out",
        "z": "709c0aa7433349ed",
        "name": "Orion-Tr / 6",
        "pin": "31",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 670,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4e6a4857.3b2948",
        "type": "subflow:8e9a1337c6aa6a99",
        "z": "709c0aa7433349ed",
        "name": "",
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "e82419fe.19d508"
            ]
        ]
    },
    {
        "id": "411399cf.7a2308",
        "type": "link in",
        "z": "709c0aa7433349ed",
        "name": "Orion-Tr",
        "links": [
            "2ae1f79e.024478"
        ],
        "x": 355,
        "y": 1000,
        "wires": [
            [
                "4e6a4857.3b2948"
            ]
        ]
    },
    {
        "id": "b9f04788.6502f8",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWorion",
        "topic": "",
        "initialstate": true,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "2ae1f79e.024478"
            ]
        ]
    },
    {
        "id": "2ae1f79e.024478",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "",
        "links": [
            "411399cf.7a2308"
        ],
        "x": 325,
        "y": 680,
        "wires": []
    },
    {
        "id": "f31d3f52.d19c9",
        "type": "inject",
        "z": "709c0aa7433349ed",
        "name": "GPIO Ein",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "28caae9c7a77ed69"
            ]
        ]
    },
    {
        "id": "9b2a7b1b.a8bba8",
        "type": "serial in",
        "z": "de1f4de9.aa4a1",
        "name": "Victron MPPT",
        "serial": "99bc1002.fccbd",
        "x": 170,
        "y": 1800,
        "wires": [
            [
                "536427ca.a24558"
            ]
        ]
    },
    {
        "id": "536427ca.a24558",
        "type": "function",
        "z": "de1f4de9.aa4a1",
        "name": "VE.Direct to JSON",
        "func": "// name: VE.Direct to JSON\n// outputs: 1\n// inputs: 1 serial node, split input \"on the character\" \"\\n\"\n// and deliver \"binary buffers\"\n\nvar block = context.get('block') || \"{\";\nvar checksum = context.get('checksum') || 0;\n\nvar fieldBuffer = msg.payload;\nvar fieldLenght = fieldBuffer.length;\n\nvar field = fieldBuffer.toString();\nfield = field.replace(/\\r?\\n?/g, '');\nfield = field.split(\"\\t\");\n\n// Drop null fields\nif (field[0] === \"\") {\n//    node.warn(\"NULL field dropped!\");\n    return null;\n}\n\nif (field[0] === \"OR\") {\n    field[1] = parseFloat((field[1]).substr(7));\n}\n\n// Remove HEX messages and add CR+LF for checksum\nif (field[0] == \"Checksum\" && field[1].length > 1) {\n    fieldLenght = 12;\n    fieldBuffer[10] = 0xd;\n    fieldBuffer[11] = 0xa;\n//    node.warn(\"HEX message stripped!\");\n}\n\nfor (var i = 0; i < fieldLenght; i++) {\n    checksum -= fieldBuffer[i];\n}\n\nchecksum = checksum & 0xff;\n\nif (field[0] == \"Checksum\") {\n\n    context.set('checksum', null);\n    context.set('block', null);\n\n    if (checksum === 0) {\n        block = block += \"}\";\n        msg.payload = JSON.parse(block);\n        return msg;\n    } else {\n//        node.warn('Checksum failed!')\n        return null;\n    }\n}\n\nif (block.length > 1) {\n    block = block += \",\";\n}\n\nblock = block += \"\\\"\" + field[0] + \"\\\"\" + \":\";\n\n// PID and FW values detected incorrectly as number\nvar isANumber = isNaN(field[1]) === false;\nif (isANumber && (field[0] !== \"PID\") && (field[0] !== \"FW\")) {\n//    block = block += \"\\\"\" + field[1] + \"\\\"\";\n    block = block += field[1];\n} else {\n//    block = block += field[1];\n    block = block += \"\\\"\" + field[1] + \"\\\"\";\n}\n\ncontext.set('checksum', checksum);\ncontext.set('block', block);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1800,
        "wires": [
            [
                "fbfdacbe.db17",
                "be5bc94b.baf498",
                "9c9a3e7f.08132",
                "a6f72adc.d100c8"
            ]
        ]
    },
    {
        "id": "fbfdacbe.db17",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Battery Current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.I / 1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "be5bc94b.baf498",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Panel Voltage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.VPV / 1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1720,
        "wires": [
            [
                "21a6623a.cdc22e"
            ]
        ]
    },
    {
        "id": "9c9a3e7f.08132",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Panel Power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PPV",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1760,
        "wires": [
            [
                "4009e335.4dde4c"
            ]
        ]
    },
    {
        "id": "c8d8ed2d.35e61",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1800,
        "wires": [
            [
                "41714922.2e3138"
            ]
        ]
    },
    {
        "id": "a6f72adc.d100c8",
        "type": "switch",
        "z": "de1f4de9.aa4a1",
        "name": "Operation State",
        "property": "payload.CS",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 700,
        "y": 1880,
        "wires": [
            [
                "c8d8ed2d.35e61"
            ],
            [
                "160843af.b9c78c"
            ],
            [
                "12187f41.2490e1"
            ],
            [
                "534b29cb.5d2eb8"
            ],
            [
                "1b1df6b5.81e309"
            ]
        ]
    },
    {
        "id": "160843af.b9c78c",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Fault",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Fault",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1840,
        "wires": [
            [
                "41714922.2e3138"
            ]
        ]
    },
    {
        "id": "12187f41.2490e1",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Bulk",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bulk",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1880,
        "wires": [
            [
                "41714922.2e3138"
            ]
        ]
    },
    {
        "id": "534b29cb.5d2eb8",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Absorption",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Absorption",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1920,
        "wires": [
            [
                "41714922.2e3138"
            ]
        ]
    },
    {
        "id": "1b1df6b5.81e309",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Float",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Float",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1960,
        "wires": [
            [
                "41714922.2e3138"
            ]
        ]
    },
    {
        "id": "41714922.2e3138",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "Smppt",
        "env": [
            {
                "name": "item",
                "value": "Smppt",
                "type": "str"
            }
        ],
        "x": 1190,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "5b70ebbe.e09214",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "Upv",
        "env": [
            {
                "name": "item",
                "value": "Upv",
                "type": "str"
            }
        ],
        "x": 1110,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "ff3cd752.294f88",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Spannung Zelle 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltages[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 520,
        "wires": [
            [
                "e56dd0ad.31e36"
            ]
        ]
    },
    {
        "id": "4b971608.2fb348",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Spannung Zelle 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltages[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 580,
        "wires": [
            [
                "c2cd12b8.f0b3a"
            ]
        ]
    },
    {
        "id": "6a2cf129.c0ae6",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Spannung Zelle 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltages[2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 640,
        "wires": [
            [
                "194b9279.ddcf1e"
            ]
        ]
    },
    {
        "id": "af325b1d.642788",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Spannung Zelle 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltages[3]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 700,
        "wires": [
            [
                "53369312.0dc58c"
            ]
        ]
    },
    {
        "id": "e56dd0ad.31e36",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "ULiFeCell1",
        "env": [
            {
                "name": "item",
                "value": "ULiFeCell1",
                "type": "str"
            }
        ],
        "x": 1750,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c2cd12b8.f0b3a",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "ULiFeCell2",
        "env": [
            {
                "name": "item",
                "value": "ULiFeCell2",
                "type": "str"
            }
        ],
        "x": 1750,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "194b9279.ddcf1e",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "ULiFeCell3",
        "env": [
            {
                "name": "item",
                "value": "ULiFeCell3",
                "type": "str"
            }
        ],
        "x": 1750,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "53369312.0dc58c",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "ULiFeCell4",
        "env": [
            {
                "name": "item",
                "value": "ULiFeCell4",
                "type": "str"
            }
        ],
        "x": 1750,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e69dd7.d7025",
        "type": "ads1x15-raspi",
        "z": "de1f4de9.aa4a1",
        "property": "payload",
        "name": "49-A0-3V3",
        "chip": "IC_ADS1115",
        "i2c_address": "ADDRESS_0x49",
        "channel": "CHANNEL_0",
        "samplesPerSecond0": "SPS_920",
        "samplesPerSecond1": "SPS_250",
        "progGainAmp": "PGA_4_096V",
        "x": 410,
        "y": 960,
        "wires": [
            [
                "57a02801.e5f6f8"
            ]
        ]
    },
    {
        "id": "ff85cc66.5aee4",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Setze Spannung 3v3 in properties",
        "rules": [
            {
                "t": "set",
                "p": "properties.3v3",
                "pt": "msg",
                "to": "payload.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 960,
        "wires": [
            [
                "add750a2.84639"
            ]
        ]
    },
    {
        "id": "cb52019.a58fa",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Ampere berechnen",
        "rules": [
            {
                "t": "set",
                "p": "payload.amperage",
                "pt": "msg",
                "to": "73.3 * ( payload.voltage / properties.\"3v3\" ) - 36.65",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1040,
        "wires": [
            [
                "4be37f42.00e94"
            ]
        ]
    },
    {
        "id": "162af34f.bf017d",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Correction",
        "rules": [
            {
                "t": "set",
                "p": "payload.amperage",
                "pt": "msg",
                "to": "payload.voltage + 0.015",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1160,
        "wires": [
            [
                "f9d2ac6d.b74cf"
            ]
        ]
    },
    {
        "id": "57a02801.e5f6f8",
        "type": "rbe",
        "z": "de1f4de9.aa4a1",
        "name": "Block wrong 3v3 readings",
        "func": "narrowbandEq",
        "gap": "0.3",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload.voltage",
        "x": 650,
        "y": 960,
        "wires": [
            [
                "ff85cc66.5aee4"
            ]
        ]
    },
    {
        "id": "332d7aa1.0a3cd6",
        "type": "smooth",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "property": "payload.amperage",
        "action": "mean",
        "count": "5",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 1180,
        "y": 1160,
        "wires": [
            [
                "66fc7b2a.37ce54"
            ]
        ]
    },
    {
        "id": "21a6623a.cdc22e",
        "type": "smooth",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "5",
        "round": "1",
        "mult": "single",
        "reduce": true,
        "x": 930,
        "y": 1680,
        "wires": [
            [
                "5b70ebbe.e09214"
            ]
        ]
    },
    {
        "id": "c6eb385.d0a18c8",
        "type": "switch",
        "z": "de1f4de9.aa4a1",
        "name": "Block wrong readings",
        "property": "payload.voltage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "properties.3v3",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "cb52019.a58fa"
            ]
        ],
        "info": "Sometimes the second ADC read returns the exactly same voltage then the first read (3v3). This seems to be a timing issue.\nTo prevent wrong calculations, those values identical to the 3v3 reading will be ignored."
    },
    {
        "id": "f582e48e.cba778",
        "type": "rpi-gpio in",
        "z": "51a47cad2bf9110a",
        "name": "Drehzahl / 12",
        "pin": "32",
        "intype": "up",
        "debounce": "0",
        "read": false,
        "x": 310,
        "y": 1760,
        "wires": [
            [
                "c367c436.0baf68"
            ]
        ]
    },
    {
        "id": "c367c436.0baf68",
        "type": "msg-speed",
        "z": "51a47cad2bf9110a",
        "name": "counter",
        "frequency": "sec",
        "interval": "2",
        "estimation": true,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 560,
        "y": 1760,
        "wires": [
            [
                "ecd2b850.af5618"
            ],
            []
        ]
    },
    {
        "id": "a84cdef6.ace15",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "calc rpm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload / 8 * 30",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "engine.rpm",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1760,
        "wires": [
            [
                "48fa716c.344a1",
                "fc55ed79.37a14"
            ]
        ]
    },
    {
        "id": "610ddca1.71e624",
        "type": "inject",
        "z": "51a47cad2bf9110a",
        "name": "Pause",
        "props": [
            {
                "p": "speed_pause",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 330,
        "y": 1880,
        "wires": [
            [
                "c367c436.0baf68"
            ]
        ]
    },
    {
        "id": "3c18bf9.50f234",
        "type": "inject",
        "z": "51a47cad2bf9110a",
        "name": "Resume",
        "props": [
            {
                "p": "speed_resume",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 320,
        "y": 1840,
        "wires": [
            [
                "c367c436.0baf68"
            ]
        ]
    },
    {
        "id": "6b151266.44748c",
        "type": "inject",
        "z": "51a47cad2bf9110a",
        "name": "Reset",
        "props": [
            {
                "p": "speed_reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 330,
        "y": 1800,
        "wires": [
            [
                "c367c436.0baf68"
            ]
        ]
    },
    {
        "id": "ecd2b850.af5618",
        "type": "rbe",
        "z": "51a47cad2bf9110a",
        "name": "if changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 730,
        "y": 1760,
        "wires": [
            [
                "a84cdef6.ace15"
            ]
        ]
    },
    {
        "id": "a7810f1a.6b0a2",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Pause Counter",
        "rules": [
            {
                "t": "set",
                "p": "speed_pause",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1700,
        "wires": [
            [
                "c367c436.0baf68"
            ]
        ]
    },
    {
        "id": "e006a42d.3459a8",
        "type": "link in",
        "z": "51a47cad2bf9110a",
        "name": "-> Motor aus",
        "links": [
            "3260663f.a86bfa"
        ],
        "x": 190,
        "y": 1700,
        "wires": [
            [
                "a7810f1a.6b0a2"
            ]
        ],
        "l": true
    },
    {
        "id": "74fa89e7.6ef158",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Resume Counter",
        "rules": [
            {
                "t": "set",
                "p": "speed_resume",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1660,
        "wires": [
            [
                "c367c436.0baf68"
            ]
        ]
    },
    {
        "id": "233fd743.dab9c8",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "Instrumente Ein",
        "links": [
            "9143b69a.f37e68"
        ],
        "x": 940,
        "y": 360,
        "wires": [],
        "l": true
    },
    {
        "id": "18b0e30c.f77d9d",
        "type": "link in",
        "z": "51a47cad2bf9110a",
        "name": "-> Motor starten",
        "links": [
            "760b7ec7.fa1ad"
        ],
        "x": 200,
        "y": 1660,
        "wires": [
            [
                "74fa89e7.6ef158"
            ]
        ],
        "l": true
    },
    {
        "id": "9143b69a.f37e68",
        "type": "link in",
        "z": "51a47cad2bf9110a",
        "name": "-> Instrumente Ein",
        "links": [
            "233fd743.dab9c8"
        ],
        "x": 150,
        "y": 2020,
        "wires": [
            [
                "847f47e5.b72468"
            ]
        ],
        "l": true
    },
    {
        "id": "5fd2ef65.f6b63",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Schalte Trigger Ab",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 2080,
        "wires": [
            [
                "847f47e5.b72468"
            ]
        ]
    },
    {
        "id": "be4daee1.fad2d",
        "type": "ads1x15-raspi",
        "z": "51a47cad2bf9110a",
        "property": "payload",
        "name": "48 - A2/Tanksensor",
        "chip": "IC_ADS1115",
        "i2c_address": "ADDRESS_0x48",
        "channel": "CHANNEL_2",
        "samplesPerSecond0": "SPS_920",
        "samplesPerSecond1": "SPS_128",
        "progGainAmp": "PGA_4_096V",
        "x": 890,
        "y": 2020,
        "wires": [
            [
                "14e7c06f.8288c",
                "69dc354a.3c591c"
            ]
        ]
    },
    {
        "id": "48750954.8bfb58",
        "type": "range",
        "z": "51a47cad2bf9110a",
        "minin": "0.5",
        "maxin": "2.5",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload.voltage",
        "name": "Tanksensor",
        "x": 1470,
        "y": 2020,
        "wires": [
            [
                "85db7ae8.417138"
            ]
        ]
    },
    {
        "id": "85db7ae8.417138",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650,
        "y": 2020,
        "wires": [
            [
                "7851209c.fe64a",
                "a9f52260.637c"
            ]
        ]
    },
    {
        "id": "847f47e5.b72468",
        "type": "trigger",
        "z": "51a47cad2bf9110a",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 620,
        "y": 2020,
        "wires": [
            [
                "be4daee1.fad2d"
            ]
        ]
    },
    {
        "id": "a9f52260.637c",
        "type": "subflow:5260990c.64ecc8",
        "z": "51a47cad2bf9110a",
        "name": "Gtank",
        "env": [
            {
                "name": "item",
                "value": "Gtank",
                "type": "str"
            }
        ],
        "x": 1830,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "77628d15.3b0784",
        "type": "rbe",
        "z": "51a47cad2bf9110a",
        "name": "",
        "func": "narrowbandEq",
        "gap": "0.5",
        "start": "",
        "inout": "in",
        "septopics": true,
        "property": "payload.voltage",
        "x": 1290,
        "y": 2020,
        "wires": [
            [
                "48750954.8bfb58"
            ]
        ]
    },
    {
        "id": "14e7c06f.8288c",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "Ignore < 0.4",
        "property": "payload.voltage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1100,
        "y": 2020,
        "wires": [
            [
                "77628d15.3b0784"
            ]
        ]
    },
    {
        "id": "29236696.2310ea",
        "type": "link in",
        "z": "51a47cad2bf9110a",
        "name": "-> Motor aus",
        "links": [
            "3260663f.a86bfa"
        ],
        "x": 130,
        "y": 2080,
        "wires": [
            [
                "5fd2ef65.f6b63"
            ]
        ],
        "l": true
    },
    {
        "id": "200ebdb9.7c55e2",
        "type": "range",
        "z": "51a47cad2bf9110a",
        "minin": "0",
        "maxin": "1.36",
        "minout": "0",
        "maxout": "15",
        "action": "scale",
        "round": false,
        "property": "pbattery.voltage",
        "name": "12V Spannungsteiler",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "43028f6c.477d2",
                "ef6de3bf.76b12"
            ]
        ]
    },
    {
        "id": "f987c4d1.bd8378",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Temperatur lesen",
        "rules": [
            {
                "t": "set",
                "p": "engine.temp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "engine.preheat",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "9985b52f7eea4a41"
            ]
        ]
    },
    {
        "id": "42ed3f84.7adad",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Parllel",
        "rules": [
            {
                "t": "set",
                "p": "starter_sek",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 920,
        "wires": [
            [
                "b1bc38806bc98f49",
                "7c806554.392d6c"
            ]
        ]
    },
    {
        "id": "5c8c88e5.7537c8",
        "type": "comment",
        "z": "51a47cad2bf9110a",
        "name": "Lichtmaschine starten",
        "info": "",
        "x": 840,
        "y": 1280,
        "wires": []
    },
    {
        "id": "2ad64104.83367e",
        "type": "inject",
        "z": "295744be76460eb7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "32f7b64e.57ef1a"
            ]
        ]
    },
    {
        "id": "32f7b64e.57ef1a",
        "type": "exec",
        "z": "295744be76460eb7",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Raspberry CPU Temperature",
        "x": 780,
        "y": 1000,
        "wires": [
            [
                "1d1b2c0b.589384"
            ],
            [],
            []
        ]
    },
    {
        "id": "1d1b2c0b.589384",
        "type": "function",
        "z": "295744be76460eb7",
        "name": "Extract CPU Temp",
        "func": "const re = /^temp=(.*)'C$/gm;\nmsg.payload = Number(msg.payload.replace(re, '$1'));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 1020,
        "wires": [
            [
                "f086e1be.e4513"
            ]
        ]
    },
    {
        "id": "f086e1be.e4513",
        "type": "subflow:5260990c.64ecc8",
        "z": "295744be76460eb7",
        "name": "GsocTemp",
        "env": [
            {
                "name": "item",
                "value": "GsocTemp",
                "type": "str"
            }
        ],
        "x": 1370,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b6543552.7aaae8",
        "type": "mqtt in",
        "z": "de1f4de9.aa4a1",
        "name": "Landstrom Tasmota SENSOR",
        "topic": "boot/landstrom/tele/SENSOR",
        "qos": "2",
        "datatype": "json",
        "broker": "cd18c8d2.68b578",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 2820,
        "wires": [
            [
                "d439bf0b.73d24",
                "8ca9f51f.0a0068",
                "6ec7bc47.21a7c4",
                "aa657eff.aa86c",
                "87ada13.03eb16",
                "109685e.16cbc7a"
            ]
        ]
    },
    {
        "id": "d439bf0b.73d24",
        "type": "debug",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 2740,
        "wires": []
    },
    {
        "id": "df69bd1f.0b125",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWlandstrom",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "8bc27830.b8f338"
            ]
        ]
    },
    {
        "id": "ebee260d.a46c28",
        "type": "openhab2-out2",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "SWlandstrom",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 360,
        "y": 2300,
        "wires": []
    },
    {
        "id": "81d8ad8d.13471",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "Ulandstrom",
        "env": [
            {
                "name": "item",
                "value": "Ulandstrom",
                "type": "str"
            }
        ],
        "x": 810,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "cea7a749.538c38",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "Plandstrom",
        "env": [
            {
                "name": "item",
                "value": "Plandstrom",
                "type": "str"
            }
        ],
        "x": 810,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "8ca9f51f.0a0068",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Spannung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ENERGY.Voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2800,
        "wires": [
            [
                "81d8ad8d.13471"
            ]
        ]
    },
    {
        "id": "6ec7bc47.21a7c4",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ENERGY.Power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2860,
        "wires": [
            [
                "cea7a749.538c38"
            ]
        ]
    },
    {
        "id": "17ef372f.487b39",
        "type": "mqtt out",
        "z": "de1f4de9.aa4a1",
        "name": "Landstrom Tasmota TelePeriod",
        "topic": "boot/landstrom/cmnd/TelePeriod",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd18c8d2.68b578",
        "x": 890,
        "y": 2440,
        "wires": []
    },
    {
        "id": "bb7ff838.c30248",
        "type": "mqtt out",
        "z": "de1f4de9.aa4a1",
        "name": "Landstrom Tasmota Command",
        "topic": "boot/landstrom/cmnd/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd18c8d2.68b578",
        "x": 450,
        "y": 2580,
        "wires": []
    },
    {
        "id": "5c57113b.5e47e",
        "type": "link in",
        "z": "de1f4de9.aa4a1",
        "name": "Landstrom",
        "links": [
            "550e6eb7.3ac89",
            "8bc27830.b8f338"
        ],
        "x": 165,
        "y": 2440,
        "wires": [
            [
                "6bcb9509.46f58c",
                "bb7ff838.c30248",
                "47d82520.9390cc",
                "ebee260d.a46c28"
            ]
        ]
    },
    {
        "id": "68414860.d2e368",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "ON Periode 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 2420,
        "wires": [
            [
                "17ef372f.487b39"
            ]
        ]
    },
    {
        "id": "666f717e.357bd",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "OFF Periode 300",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "300",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 2460,
        "wires": [
            [
                "17ef372f.487b39"
            ]
        ]
    },
    {
        "id": "6bcb9509.46f58c",
        "type": "switch",
        "z": "de1f4de9.aa4a1",
        "name": "ON or OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 2440,
        "wires": [
            [
                "68414860.d2e368"
            ],
            [
                "666f717e.357bd"
            ]
        ]
    },
    {
        "id": "550e6eb7.3ac89",
        "type": "link out",
        "z": "de1f4de9.aa4a1",
        "name": "",
        "links": [
            "5c57113b.5e47e"
        ],
        "x": 2615,
        "y": 280,
        "wires": []
    },
    {
        "id": "47d82520.9390cc",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Set global landstrom",
        "rules": [
            {
                "t": "set",
                "p": "landstrom",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "69d47dff.9ca344",
        "type": "switch",
        "z": "de1f4de9.aa4a1",
        "name": "<20 or >50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "20",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "60",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1950,
        "y": 300,
        "wires": [
            [
                "2c30603f.b7429"
            ],
            [
                "b4ecb38f.abb09"
            ]
        ]
    },
    {
        "id": "2c30603f.b7429",
        "type": "switch",
        "z": "de1f4de9.aa4a1",
        "name": "Wenn Landstrom aus",
        "property": "landstrom",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2180,
        "y": 240,
        "wires": [
            [
                "345dcf95.c9131"
            ]
        ]
    },
    {
        "id": "345dcf95.c9131",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Set ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2400,
        "y": 240,
        "wires": [
            [
                "550e6eb7.3ac89"
            ]
        ]
    },
    {
        "id": "b4ecb38f.abb09",
        "type": "switch",
        "z": "de1f4de9.aa4a1",
        "name": "Wenn Landstrom an",
        "property": "landstrom",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2180,
        "y": 340,
        "wires": [
            [
                "a2165c24.5ef36"
            ]
        ]
    },
    {
        "id": "a2165c24.5ef36",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Set OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2400,
        "y": 340,
        "wires": [
            [
                "550e6eb7.3ac89"
            ]
        ]
    },
    {
        "id": "5811e67b.37f1a8",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "15",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 1930,
        "y": 420,
        "wires": [
            [
                "69d47dff.9ca344"
            ]
        ]
    },
    {
        "id": "fd545baf.5a9458",
        "type": "inject",
        "z": "de1f4de9.aa4a1",
        "name": "55",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "55",
        "payloadType": "num",
        "x": 1930,
        "y": 460,
        "wires": [
            [
                "69d47dff.9ca344"
            ]
        ]
    },
    {
        "id": "8bc27830.b8f338",
        "type": "link out",
        "z": "295744be76460eb7",
        "name": "",
        "links": [
            "5c57113b.5e47e"
        ],
        "x": 335,
        "y": 740,
        "wires": []
    },
    {
        "id": "a0934ec1.3da17",
        "type": "delay",
        "z": "295744be76460eb7",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 200,
        "wires": [
            [
                "5c2fb96c.d7f4a8"
            ]
        ]
    },
    {
        "id": "8eb27636.e845a8",
        "type": "delay",
        "z": "51a47cad2bf9110a",
        "name": "Delay 1sek",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 350,
        "y": 1400,
        "wires": [
            [
                "79e0edac5936fcef"
            ]
        ]
    },
    {
        "id": "e2b7d44e.9807e8",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Lichtmaschine hoch zählen",
        "rules": [
            {
                "t": "set",
                "p": "lima_sek",
                "pt": "msg",
                "to": "lima_sek + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1480,
        "wires": [
            [
                "8eb27636.e845a8"
            ]
        ]
    },
    {
        "id": "7c806554.392d6c",
        "type": "delay",
        "z": "51a47cad2bf9110a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 940,
        "wires": [
            [
                "59e6fc0e165e74a5"
            ]
        ]
    },
    {
        "id": "76fc7272.38157c",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Starter hoch zählen",
        "rules": [
            {
                "t": "set",
                "p": "starter_sek",
                "pt": "msg",
                "to": "starter_sek + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "7c806554.392d6c"
            ]
        ]
    },
    {
        "id": "aa657eff.aa86c",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Energie Heute",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ENERGY.Today",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 2920,
        "wires": [
            [
                "878cd12.8602b3"
            ]
        ]
    },
    {
        "id": "87ada13.03eb16",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Energie Gestern",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ENERGY.Yesterday",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 2980,
        "wires": [
            [
                "a538f0d5.2e57d"
            ]
        ]
    },
    {
        "id": "109685e.16cbc7a",
        "type": "change",
        "z": "de1f4de9.aa4a1",
        "name": "Energie Total",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ENERGY.Total",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 3040,
        "wires": [
            [
                "b6549286.ed372"
            ]
        ]
    },
    {
        "id": "878cd12.8602b3",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "WlandstromHeute",
        "env": [
            {
                "name": "item",
                "value": "WlandstromHeute",
                "type": "str"
            }
        ],
        "x": 830,
        "y": 2920,
        "wires": [
            []
        ]
    },
    {
        "id": "a538f0d5.2e57d",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "WlandstromGestern",
        "env": [
            {
                "name": "item",
                "value": "WlandstromGestern",
                "type": "str"
            }
        ],
        "x": 840,
        "y": 2980,
        "wires": [
            []
        ]
    },
    {
        "id": "b6549286.ed372",
        "type": "subflow:5260990c.64ecc8",
        "z": "de1f4de9.aa4a1",
        "name": "WlandstromTotal",
        "env": [
            {
                "name": "item",
                "value": "WlandstromTotal",
                "type": "str"
            }
        ],
        "x": 830,
        "y": 3040,
        "wires": [
            []
        ]
    },
    {
        "id": "1251324c.e83dde",
        "type": "serial request",
        "z": "65a64bb71643ab7c",
        "name": " Victron",
        "serial": "99bc1002.fccbd",
        "x": 600,
        "y": 460,
        "wires": [
            [
                "98eaf3b.f22f01"
            ]
        ]
    },
    {
        "id": "9b2a7053.23309",
        "type": "debug",
        "z": "65a64bb71643ab7c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 680,
        "wires": []
    },
    {
        "id": "98eaf3b.f22f01",
        "type": "function",
        "z": "65a64bb71643ab7c",
        "name": "parse vedirect response",
        "func": "msg.response = msg.payload;\nlet index_begin = msg.payload.indexOf(':');\nlet index_end = msg.payload.indexOf('\\n');\nlet res = msg.payload.substring(index_begin, index_end);\nnode.warn(res);\nmsg.parsed = {};\n\nlet code = +res[1];\n\nlet calculated_checksum = code;\nfor (let i = 2; i<res.length; i += 2) {\n    calculated_checksum += parseInt(res.slice(i, i+2), 16)\n}\nif ((calculated_checksum & 0x55) != 0x55) {\n    throw \"Checksum missmatch\"\n}\n\n// If code is get or set, check flag byte for issues\nif (7 <= code <= 8) {\n    switch (parseInt(res[7], 16)) {\n        case 0x01:\n            throw \"Unknown ID\";\n        case 0x02:\n            throw \"Trying to write to read only value\";\n        case 0x04:\n            throw \"Parameter error (out of range)\"\n    }\n}\n\nlet data_low = res[8]+res[9];\n// two byte response\nlet data_high = 0;\nif (res.length > 12) {\n    data_high = res[10]+res[11];\n}\n\nmsg.parsed.code = code\nmsg.parsed.data = parseInt(data_high + data_low, 16);\nmsg.payload = msg.parsed.data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 520,
        "wires": [
            [
                "9b2a7053.23309"
            ]
        ]
    },
    {
        "id": "bdd38d11.fc294",
        "type": "function",
        "z": "65a64bb71643ab7c",
        "name": "create vedirect request",
        "func": "if (msg.topic == undefined) {\n    throw \"msg.topic must be defined\";\n}\n\nlet command = `:${msg.topic}`;\nif (msg.register) {\n    command += `${msg.register}00`;\n    if (msg.payload) {\n        if (typeof msg.payload != \"number\") {\n            throw \"Payload must be a number\";\n        }\n        let payload = msg.payload.toString(16).padStart(4, \"0\").toUpperCase();\n        if (payload.length > 4) throw \"Invalid payload\";\n        payload = payload.slice(2) + payload.slice(0,2);\n        command += payload;\n    }\n}\n\nlet byte_sum = +command[1];\nfor (let i = 2; i<command.length; i += 2) {\n    byte_sum += parseInt(command.slice(i, i+2), 16)\n}\n\nlet checksum = (0x155 - (byte_sum & 0xff)) & 0xff;\nlet checksum_string = checksum.toString(16).padStart(2, \"0\");\n\ncommand += checksum_string;\nmsg.payload = command.toUpperCase();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 600,
        "wires": [
            [
                "1251324c.e83dde"
            ]
        ]
    },
    {
        "id": "2b0f5d0f.ee8492",
        "type": "inject",
        "z": "65a64bb71643ab7c",
        "name": "6405",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "register",
                "v": "2eed",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "7",
        "payload": "",
        "payloadType": "num",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "bdd38d11.fc294"
            ]
        ]
    },
    {
        "id": "5668610d.afd15",
        "type": "mqtt in",
        "z": "295744be76460eb7",
        "name": "Temp Kühlschrank",
        "topic": "boot/mobicool/temp",
        "qos": "2",
        "datatype": "utf8",
        "broker": "cd18c8d2.68b578",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "aae996b0.e5fad8"
            ]
        ]
    },
    {
        "id": "aae996b0.e5fad8",
        "type": "subflow:5260990c.64ecc8",
        "z": "295744be76460eb7",
        "name": "Tbier",
        "env": [
            {
                "name": "item",
                "value": "Tbier",
                "type": "str"
            }
        ],
        "x": 690,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "69dc354a.3c591c",
        "type": "ads1x15-raspi",
        "z": "51a47cad2bf9110a",
        "property": "payload",
        "name": "48 - A0/Öldruck",
        "chip": "IC_ADS1115",
        "i2c_address": "ADDRESS_0x48",
        "channel": "CHANNEL_0",
        "samplesPerSecond0": "SPS_920",
        "samplesPerSecond1": "SPS_64",
        "progGainAmp": "PGA_4_096V",
        "x": 880,
        "y": 2080,
        "wires": [
            [
                "3fa1769d.9453ea",
                "c0725416.311748"
            ]
        ]
    },
    {
        "id": "3fa1769d.9453ea",
        "type": "range",
        "z": "51a47cad2bf9110a",
        "minin": "0.5",
        "maxin": "4.5",
        "minout": "0",
        "maxout": "10.342",
        "action": "clamp",
        "round": false,
        "property": "payload.voltage",
        "name": "Drucksensor",
        "x": 1330,
        "y": 2080,
        "wires": [
            [
                "afc9beb3.cb158"
            ]
        ]
    },
    {
        "id": "afc9beb3.cb158",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload.voltage, 1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 2080,
        "wires": [
            [
                "ebe6eef7.30f69"
            ]
        ]
    },
    {
        "id": "ebe6eef7.30f69",
        "type": "subflow:5260990c.64ecc8",
        "z": "51a47cad2bf9110a",
        "name": "Goeldruck",
        "env": [
            {
                "name": "item",
                "value": "Goeldruck",
                "type": "str"
            }
        ],
        "x": 1850,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "f6635311.31474",
        "type": "inject",
        "z": "51a47cad2bf9110a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 1920,
        "wires": [
            [
                "be4daee1.fad2d"
            ]
        ]
    },
    {
        "id": "4a4ecf4d.6772f",
        "type": "catch",
        "z": "51a47cad2bf9110a",
        "name": "Catch all",
        "scope": null,
        "uncaught": false,
        "x": 1920,
        "y": 80,
        "wires": [
            [
                "f6dfe130.b42e2"
            ]
        ]
    },
    {
        "id": "f6dfe130.b42e2",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Error message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Error. Check logs!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "loglevel",
                "pt": "msg",
                "to": "ERROR",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 180,
        "wires": [
            [
                "a6cc51.750aa3b"
            ]
        ]
    },
    {
        "id": "f63794c4.cd4268",
        "type": "catch",
        "z": "51a47cad2bf9110a",
        "name": "Catch ADC error",
        "scope": [
            "79e0edac5936fcef"
        ],
        "uncaught": false,
        "x": 560,
        "y": 1340,
        "wires": [
            [
                "7419a8c6.741498"
            ]
        ]
    },
    {
        "id": "7419a8c6.741498",
        "type": "delay",
        "z": "51a47cad2bf9110a",
        "name": "Delay 1sek",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 750,
        "y": 1340,
        "wires": [
            [
                "79e0edac5936fcef"
            ]
        ]
    },
    {
        "id": "d8d9ff0a.bd7cc",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Reset timers",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 980,
        "wires": [
            [
                "7c806554.392d6c"
            ]
        ]
    },
    {
        "id": "5297cde1.ff09b4",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Lima Erreger Ein",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "lima_sek",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 720,
        "wires": [
            [
                "54633bc8.68d584",
                "0dd0643a6665d6b5"
            ]
        ]
    },
    {
        "id": "54633bc8.68d584",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "",
        "links": [
            "e6e84edb1eb0f68d"
        ],
        "x": 735,
        "y": 720,
        "wires": []
    },
    {
        "id": "1598465f8c9ff5fb",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "Motor gestartet",
        "links": [
            "4533d1a9.07b58",
            "1723bac6.27f185",
            "17161490.5c3f2b",
            "2db4d82f.caf828",
            "d3fd1eba.f4f69"
        ],
        "x": 1480,
        "y": 860,
        "wires": [],
        "l": true
    },
    {
        "id": "e990aa10.5ab648",
        "type": "flogger",
        "z": "51a47cad2bf9110a",
        "name": "Log",
        "logfile": "motor.log",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
        "loglevel": "INFO",
        "logconfig": "ad15f369.54c5a",
        "sendpane": true,
        "x": 670,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fe62c435.8b90a8",
        "type": "flogger",
        "z": "51a47cad2bf9110a",
        "name": "Log",
        "logfile": "motor.log",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
        "loglevel": "INFO",
        "logconfig": "ad15f369.54c5a",
        "sendpane": true,
        "x": 850,
        "y": 1160,
        "wires": [
            [
                "e690fb93.687ef8"
            ]
        ]
    },
    {
        "id": "2995af2c.b1aec",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "log",
        "rules": [
            {
                "t": "set",
                "p": "loglevel",
                "pt": "msg",
                "to": "ERROR",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "Anlasser Safeguard triggered",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1160,
        "wires": [
            [
                "fe62c435.8b90a8"
            ]
        ]
    },
    {
        "id": "8c27c6fb.7e2428",
        "type": "flogger",
        "z": "51a47cad2bf9110a",
        "name": "Log",
        "logfile": "motor.log",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
        "loglevel": "INFO",
        "logconfig": "ad15f369.54c5a",
        "sendpane": true,
        "x": 1070,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a6cc51.750aa3b",
        "type": "flogger",
        "z": "51a47cad2bf9110a",
        "name": "Log",
        "logfile": "motor.log",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
        "loglevel": "INFO",
        "logconfig": "ad15f369.54c5a",
        "sendpane": true,
        "x": 2210,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ef6de3bf.76b12",
        "type": "flogger",
        "z": "51a47cad2bf9110a",
        "name": "Log",
        "logfile": "motor.log",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
        "loglevel": "INFO",
        "logconfig": "ad15f369.54c5a",
        "sendpane": true,
        "x": 530,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cb054da.e1f0eb",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "Temp fehler erkennen",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "ac618cac8d307e71"
            ],
            [
                "f987c4d1.bd8378"
            ]
        ]
    },
    {
        "id": "ade7b4bd.10bd38",
        "type": "mqtt out",
        "z": "295744be76460eb7",
        "name": "Set target temp",
        "topic": "boot/mobicool/cmnd/target",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd18c8d2.68b578",
        "x": 920,
        "y": 1300,
        "wires": []
    },
    {
        "id": "d0e19231.9881",
        "type": "change",
        "z": "295744be76460eb7",
        "name": "parsen und runden",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round($number(msg.payload), 0)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1300,
        "wires": [
            [
                "ade7b4bd.10bd38"
            ]
        ]
    },
    {
        "id": "f2a492b2.28e5f",
        "type": "openhab2-in2",
        "z": "295744be76460eb7",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "Tbiersoll",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 400,
        "y": 1300,
        "wires": [
            [
                "d0e19231.9881"
            ]
        ]
    },
    {
        "id": "8a74eb4b.cfd648",
        "type": "inject",
        "z": "65a64bb71643ab7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "9c0f8339.a12d8"
            ]
        ]
    },
    {
        "id": "9d25b31a.f95b8",
        "type": "debug",
        "z": "65a64bb71643ab7c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "31b41180.4bb80e",
        "type": "inject",
        "z": "709c0aa7433349ed",
        "name": "GPIO An",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 1040,
        "y": 1100,
        "wires": [
            [
                "37cf0592e513c818"
            ]
        ]
    },
    {
        "id": "ff789722.5a2ba8",
        "type": "inject",
        "z": "709c0aa7433349ed",
        "name": "GPIO Aus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 1040,
        "y": 1140,
        "wires": [
            [
                "37cf0592e513c818"
            ]
        ]
    },
    {
        "id": "8675dc8.4377e2",
        "type": "mqtt in",
        "z": "295744be76460eb7",
        "name": "Target Empfangen",
        "topic": "boot/mobicool/target",
        "qos": "2",
        "datatype": "utf8",
        "broker": "cd18c8d2.68b578",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "37059370.ca8a1c"
            ]
        ]
    },
    {
        "id": "37059370.ca8a1c",
        "type": "subflow:5260990c.64ecc8",
        "z": "295744be76460eb7",
        "name": "Tbiersoll",
        "env": [
            {
                "name": "item",
                "value": "Tbiersoll",
                "type": "str"
            }
        ],
        "x": 680,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "24423ce5.59dae4",
        "type": "comment",
        "z": "295744be76460eb7",
        "name": "Kühlschrank",
        "info": "",
        "x": 200,
        "y": 1320,
        "wires": []
    },
    {
        "id": "6eaad5ba.ee51ec",
        "type": "signalk-subscribe",
        "z": "295744be76460eb7",
        "name": "Rudder",
        "mode": "sendChanges",
        "flatten": true,
        "context": "vessels.self",
        "path": "steering.rudderAngle",
        "source": "",
        "period": 1000,
        "x": 390,
        "y": 1600,
        "wires": [
            [
                "f21e680d.f758c8"
            ]
        ]
    },
    {
        "id": "f21e680d.f758c8",
        "type": "range",
        "z": "295744be76460eb7",
        "minin": "0.8",
        "maxin": "-0.8",
        "minout": "-41",
        "maxout": "41",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 580,
        "y": 1600,
        "wires": [
            [
                "a06d5f66.4854"
            ]
        ]
    },
    {
        "id": "232e0f80.12cb4",
        "type": "signalk-subscribe",
        "z": "295744be76460eb7",
        "name": "SOG",
        "mode": "sendChanges",
        "flatten": true,
        "context": "vessels.self",
        "path": "navigation.speedOverGround",
        "source": "",
        "period": 1000,
        "x": 390,
        "y": 1660,
        "wires": [
            [
                "1b96d24.52f132e"
            ]
        ]
    },
    {
        "id": "c0431bb.5c787e8",
        "type": "signalk-subscribe",
        "z": "295744be76460eb7",
        "name": "COG",
        "mode": "sendChanges",
        "flatten": true,
        "context": "vessels.self",
        "path": "navigation.courseOverGroundTrue",
        "source": "",
        "period": 1000,
        "x": 390,
        "y": 1720,
        "wires": [
            [
                "c11b4824.0ed678"
            ]
        ]
    },
    {
        "id": "8f2ff940.7c7028",
        "type": "subflow:64e147af.9fea98",
        "z": "295744be76460eb7",
        "name": "",
        "env": [
            {
                "name": "smaller",
                "value": "0.5",
                "type": "num"
            }
        ],
        "x": 910,
        "y": 1660,
        "wires": [
            [
                "741620a7.34f8c"
            ]
        ]
    },
    {
        "id": "19104b35.5e74a5",
        "type": "subflow:5260990c.64ecc8",
        "z": "295744be76460eb7",
        "name": "Gruder",
        "env": [
            {
                "name": "item",
                "value": "Gruder",
                "type": "str"
            }
        ],
        "x": 1240,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "1ea6b912.13da37",
        "type": "subflow:5260990c.64ecc8",
        "z": "295744be76460eb7",
        "name": "Gsog",
        "env": [
            {
                "name": "item",
                "value": "Gsog",
                "type": "str"
            }
        ],
        "x": 1230,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "5a939aba.f042e4",
        "type": "subflow:5260990c.64ecc8",
        "z": "295744be76460eb7",
        "name": "Gcog",
        "env": [
            {
                "name": "item",
                "value": "Gcog",
                "type": "str"
            }
        ],
        "x": 1210,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "a4eaf833.11b598",
        "type": "change",
        "z": "295744be76460eb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload * 3.6",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1660,
        "wires": [
            [
                "8f2ff940.7c7028"
            ]
        ]
    },
    {
        "id": "c11b4824.0ed678",
        "type": "change",
        "z": "295744be76460eb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload * 180 / 3.14159",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1720,
        "wires": [
            [
                "5a939aba.f042e4"
            ]
        ]
    },
    {
        "id": "e0ba350a.b6b568",
        "type": "comment",
        "z": "295744be76460eb7",
        "name": "Navigation",
        "info": "",
        "x": 160,
        "y": 1660,
        "wires": []
    },
    {
        "id": "741620a7.34f8c",
        "type": "change",
        "z": "295744be76460eb7",
        "name": "round",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1660,
        "wires": [
            [
                "1ea6b912.13da37"
            ]
        ]
    },
    {
        "id": "1b96d24.52f132e",
        "type": "switch",
        "z": "295744be76460eb7",
        "name": "grösser 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 520,
        "y": 1660,
        "wires": [
            [
                "a4eaf833.11b598"
            ]
        ]
    },
    {
        "id": "36a5a362.f8788c",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "Glühkerze EIN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "1cb7f0ac.b01f5f",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "Glühkerze AUS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "1f3005f6.c79fda",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "Anlasser EIN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 720,
        "wires": []
    },
    {
        "id": "9cda3b12.86f2d8",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "Motor läuft nicht",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a98f78e4.d681a8",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "Anlasser AUS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 980,
        "wires": []
    },
    {
        "id": "e690fb93.687ef8",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "Safeguard triggered",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a06d5f66.4854",
        "type": "smooth",
        "z": "295744be76460eb7",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "3",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 840,
        "y": 1600,
        "wires": [
            [
                "19104b35.5e74a5"
            ]
        ]
    },
    {
        "id": "9dde2547.ccc818",
        "type": "rbe",
        "z": "de1f4de9.aa4a1",
        "name": "block if 2v diff",
        "func": "narrowbandEq",
        "gap": "2",
        "start": "",
        "inout": "in",
        "septopics": true,
        "property": "payload",
        "x": 1180,
        "y": 1500,
        "wires": [
            [
                "d95be1bf.03047"
            ]
        ]
    },
    {
        "id": "e9cb6c9e.d66b5",
        "type": "udp out",
        "z": "1156325a.13be5e",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1120,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd5a5b72.4655d8",
        "type": "udp in",
        "z": "1156325a.13be5e",
        "name": "",
        "iface": "",
        "port": "1900",
        "ipv": "udp4",
        "multicast": "true",
        "group": "255.255.255.255",
        "datatype": "utf8",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "702d8c2d.16c634"
            ]
        ]
    },
    {
        "id": "702d8c2d.16c634",
        "type": "function",
        "z": "1156325a.13be5e",
        "name": "parse ip",
        "func": "msg.payload = msg.payload.match(\"LOCATION: http:\\/\\/(.*):\")[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 160,
        "wires": [
            [
                "9c3b2b5a.c5cfa8"
            ]
        ]
    },
    {
        "id": "9c3b2b5a.c5cfa8",
        "type": "change",
        "z": "1156325a.13be5e",
        "name": "sete IP in flow",
        "rules": [
            {
                "t": "set",
                "p": "libratone.ip",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2514fcdc.24ee44",
        "type": "openhab2-in2",
        "z": "1156325a.13be5e",
        "name": "",
        "controller": "71581e52.143b9",
        "itemname": "libratoneVolume",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "4e11fb33.aba084"
            ]
        ]
    },
    {
        "id": "88e3d06d.1fb13",
        "type": "function",
        "z": "1156325a.13be5e",
        "name": "Libratone Volume Template",
        "func": "const volumes = {\n    \"0\": \"\\x30\",\n    \"1\": \"\\x31\",\n    \"2\": \"\\x32\",\n    \"3\": \"\\x33\",\n    \"4\": \"\\x34\",\n    \"5\": \"\\x35\",\n    \"6\": \"\\x36\",\n    \"7\": \"\\x37\",\n    \"8\": \"\\x38\",\n    \"9\": \"\\x39\",\n}\n\nfunction toHexString(byteArray) {\n  return Array.from(byteArray, function(byte) {\n    return ('0' + (byte & 0xFF).toString(16)).slice(-2);\n  }).join('')\n}\n\n\nlet template = \"\\x00\\x00\\x02\\x00\\x40\\x00\\x00\\x00\\x00\\x02\";\n\n\n[...msg.payload].forEach(function (item) {\n  template += volumes[item];\n});\n\n\nmsg.payload = template;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 300,
        "wires": [
            [
                "e9cb6c9e.d66b5",
                "58f5e809.fb61c8"
            ]
        ]
    },
    {
        "id": "4e11fb33.aba084",
        "type": "change",
        "z": "1156325a.13be5e",
        "name": "IP setzen",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "libratone.ip",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "88e3d06d.1fb13"
            ]
        ]
    },
    {
        "id": "c0725416.311748",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "Messe Starterbatterie",
        "links": [
            "1bf19d45.22e113"
        ],
        "x": 900,
        "y": 2140,
        "wires": [],
        "l": true
    },
    {
        "id": "1bf19d45.22e113",
        "type": "link in",
        "z": "de1f4de9.aa4a1",
        "name": "-> Messe Starterbatterie",
        "links": [
            "c0725416.311748"
        ],
        "x": 150,
        "y": 1440,
        "wires": [
            [
                "5cfe3088.8e687"
            ]
        ],
        "l": true
    },
    {
        "id": "7851209c.fe64a",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 1960,
        "wires": []
    },
    {
        "id": "f45fbd09.bbc84",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "b6dc57c5.144918",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "24",
        "info": "",
        "x": 1430,
        "y": 580,
        "wires": []
    },
    {
        "id": "e22045ec.14cae8",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "Drehzahl / 12",
        "info": "",
        "x": 1450,
        "y": 1000,
        "wires": []
    },
    {
        "id": "37ec6fcc.8af74",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "GND",
        "info": "",
        "x": 1430,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cf3cae6a.b2aad",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "26",
        "info": "",
        "x": 650,
        "y": 1180,
        "wires": []
    },
    {
        "id": "bb53bbb2.eb9e08",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "20",
        "info": "",
        "x": 1430,
        "y": 1180,
        "wires": []
    },
    {
        "id": "a839b9d9.00f148",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "3v3",
        "info": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0f9c529.ef81a8",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "SDA1",
        "info": "",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "57e12cd6.f92884",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "SCL1",
        "info": "",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "79811ea3.1c709",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "W1 / 4",
        "info": "",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "464cb14e.5eb1e",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "GND",
        "info": "",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "3df54ead.aaafb2",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "3v3",
        "info": "",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "3cf76305.16691c",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "MOSI",
        "info": "",
        "x": 650,
        "y": 640,
        "wires": []
    },
    {
        "id": "9ab250dc.49505",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "MISO",
        "info": "",
        "x": 650,
        "y": 700,
        "wires": []
    },
    {
        "id": "3b8c6d3c.568f52",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "SCLK",
        "info": "",
        "x": 650,
        "y": 760,
        "wires": []
    },
    {
        "id": "a60df00e.c12d",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "GND",
        "info": "",
        "x": 650,
        "y": 820,
        "wires": []
    },
    {
        "id": "af208a65.9392e8",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "SD",
        "info": "",
        "x": 650,
        "y": 880,
        "wires": []
    },
    {
        "id": "ad0a7893.974568",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "GND",
        "info": "",
        "x": 650,
        "y": 1240,
        "wires": []
    },
    {
        "id": "cbb685c2.86dd58",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "5v",
        "info": "",
        "x": 1430,
        "y": 100,
        "wires": []
    },
    {
        "id": "b8e3aeb1.1b9c1",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "5v",
        "info": "",
        "x": 1430,
        "y": 160,
        "wires": []
    },
    {
        "id": "2c56acbe.db25e4",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "GND",
        "info": "",
        "x": 1430,
        "y": 220,
        "wires": []
    },
    {
        "id": "4b9ecbbf.0b68f4",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "TxD / 14",
        "info": "",
        "x": 1440,
        "y": 280,
        "wires": []
    },
    {
        "id": "a0574d8f.9ddba",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "RxD / 15",
        "info": "",
        "x": 1440,
        "y": 340,
        "wires": []
    },
    {
        "id": "8e08a35d.e2223",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "GND",
        "info": "",
        "x": 1430,
        "y": 460,
        "wires": []
    },
    {
        "id": "c199c970.3e8008",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "GND",
        "info": "",
        "x": 1430,
        "y": 640,
        "wires": []
    },
    {
        "id": "dff2b201.4ceb2",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "25",
        "info": "",
        "x": 1430,
        "y": 700,
        "wires": []
    },
    {
        "id": "3cd0c11a.4b019e",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "CE0 / 8",
        "info": "",
        "x": 1430,
        "y": 760,
        "wires": []
    },
    {
        "id": "316669d0.dcab96",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "CE1 / 7",
        "info": "",
        "x": 1590,
        "y": 820,
        "wires": []
    },
    {
        "id": "56af84b6.dba5cc",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "GND",
        "info": "",
        "x": 1430,
        "y": 940,
        "wires": []
    },
    {
        "id": "5e102874.55dd98",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "SC",
        "info": "",
        "x": 1430,
        "y": 880,
        "wires": []
    },
    {
        "id": "3af3ff50.80d73",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "21",
        "info": "",
        "x": 1430,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ddfd48b3.21cdc8",
        "type": "comment",
        "z": "709c0aa7433349ed",
        "name": "17",
        "info": "",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "3ffe71c8.60f35e",
        "type": "rpi-srf",
        "z": "295744be76460eb7",
        "name": "Wassertank",
        "topic": "SRF",
        "pulse": "5",
        "pins": "38,40",
        "precision": "1",
        "x": 430,
        "y": 1900,
        "wires": [
            [
                "d3c84f1f.5f0a5"
            ]
        ]
    },
    {
        "id": "d3c84f1f.5f0a5",
        "type": "smooth",
        "z": "295744be76460eb7",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 640,
        "y": 1900,
        "wires": [
            [
                "9464b73.3905548"
            ]
        ]
    },
    {
        "id": "9464b73.3905548",
        "type": "range",
        "z": "295744be76460eb7",
        "minin": "41",
        "maxin": "10",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 880,
        "y": 1900,
        "wires": [
            [
                "f8b11bdb.e539d8"
            ]
        ]
    },
    {
        "id": "f8b11bdb.e539d8",
        "type": "subflow:5260990c.64ecc8",
        "z": "295744be76460eb7",
        "name": "Gwasser",
        "env": [
            {
                "name": "item",
                "value": "Gwasser",
                "type": "str"
            }
        ],
        "x": 1120,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "9761a9f4.dddb98",
        "type": "change",
        "z": "5260990c.64ecc8",
        "name": "Add timestamp",
        "rules": [
            {
                "t": "set",
                "p": "status.text",
                "pt": "msg",
                "to": "$now() & \" \" & status.text",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9c0f8339.a12d8",
        "type": "ads1x15-raspi",
        "z": "65a64bb71643ab7c",
        "property": "payload",
        "name": "48 - A0/Öldruck",
        "chip": "IC_ADS1115",
        "i2c_address": "ADDRESS_0x48",
        "channel": "CHANNEL_0",
        "samplesPerSecond0": "SPS_920",
        "samplesPerSecond1": "SPS_64",
        "progGainAmp": "PGA_4_096V",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "9d25b31a.f95b8"
            ]
        ]
    },
    {
        "id": "20ae8ccc.8009e4",
        "type": "inject",
        "z": "1156325a.13be5e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "str",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "4e11fb33.aba084"
            ]
        ]
    },
    {
        "id": "760b7ec7.fa1ad",
        "type": "link out",
        "z": "51a47cad2bf9110a",
        "name": "Motor starten",
        "links": [
            "18b0e30c.f77d9d",
            "26d8fbee.3bcb34"
        ],
        "x": 800,
        "y": 820,
        "wires": [],
        "l": true
    },
    {
        "id": "d5372c78.b60cb",
        "type": "delay",
        "z": "51a47cad2bf9110a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1600,
        "y": 1760,
        "wires": [
            [
                "3260663f.a86bfa",
                "b2fb3f36.ffd6f",
                "eb921083.f59fa",
                "a73c8208.12476"
            ]
        ]
    },
    {
        "id": "73ca5fb5.57d6a",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "rest delay",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1880,
        "wires": [
            [
                "d5372c78.b60cb"
            ]
        ]
    },
    {
        "id": "eb921083.f59fa",
        "type": "debug",
        "z": "51a47cad2bf9110a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1760,
        "wires": []
    },
    {
        "id": "9ecac1db.afd2d",
        "type": "link in",
        "z": "51a47cad2bf9110a",
        "name": "-> Motor aus",
        "links": [
            "3260663f.a86bfa"
        ],
        "x": 1210,
        "y": 1520,
        "wires": [
            [
                "6367376fc0cece4a"
            ]
        ],
        "l": true
    },
    {
        "id": "29313b9a.a59b84",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Set engine running",
        "rules": [
            {
                "t": "set",
                "p": "engine.running",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 880,
        "wires": [
            [
                "1598465f8c9ff5fb",
                "c281abeb.b53a68"
            ]
        ]
    },
    {
        "id": "70a930dc.32d7c",
        "type": "switch",
        "z": "51a47cad2bf9110a",
        "name": "if running",
        "property": "engine.running",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1380,
        "y": 1760,
        "wires": [
            [
                "d5372c78.b60cb"
            ]
        ]
    },
    {
        "id": "a73c8208.12476",
        "type": "change",
        "z": "51a47cad2bf9110a",
        "name": "Set engine stopped",
        "rules": [
            {
                "t": "set",
                "p": "engine.running",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "8fd40b40.42bd18",
        "type": "flogger",
        "z": "51a47cad2bf9110a",
        "name": "Log",
        "logfile": "motor.log",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
        "loglevel": "INFO",
        "logconfig": "ad15f369.54c5a",
        "sendpane": true,
        "x": 2010,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "afd3511a.abab1",
        "type": "udp in",
        "z": "1156325a.13be5e",
        "name": "",
        "iface": "",
        "port": "1800",
        "ipv": "udp4",
        "multicast": "true",
        "group": "255.255.255.255",
        "datatype": "utf8",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "a879231e.79191"
            ]
        ]
    },
    {
        "id": "a5723ad2.59a128",
        "type": "debug",
        "z": "1156325a.13be5e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "a879231e.79191",
        "type": "function",
        "z": "1156325a.13be5e",
        "name": "parse volume",
        "func": "msg.payload = msg.payload.match(\"Characterstic: \\\\d+,\\\\d+,\\\\d+,\\\\d+,(\\\\d+),\")[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "a5723ad2.59a128",
                "36270f3c.592a2"
            ]
        ]
    },
    {
        "id": "36270f3c.592a2",
        "type": "subflow:5260990c.64ecc8",
        "z": "1156325a.13be5e",
        "name": "libratoneVolume",
        "env": [
            {
                "name": "item",
                "value": "libratoneVolume",
                "type": "str"
            }
        ],
        "x": 1150,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "58f5e809.fb61c8",
        "type": "debug",
        "z": "1156325a.13be5e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 440,
        "wires": []
    }
]